lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

node_modules
npm-debug.log

.eslintignore
.eslintrc.json
.gitignore
.npmrc
.nyc_output
.travis.yml
coverage
tools

# Unicode filenames cause jenkins to barf when cleaning up workspaces
# See: https://github.com/jfhbrook/node-ecstatic/issues/128
test


.nyc_output
