# What's added to .gitignore should get added to .npmignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

# NPM-specific (in git, but not downloaded with `npm install`)
test
